/* Lista conti ----------------------------------------------------------------------- */

.accountList{
	background-color:#E0FFFF;	
	position:relative;
	display:block;
	padding:0px;
	margin:5px;
	height:21px;
	border:1px solid #BDEDFF;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.accountList:hover{
	background-color: #BDEDFF;
}
.accountNote{
	position:relative;
	display:block;
	padding:5px;
	margin:5px;
	border:1px solid #BDEDFF;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-left:80px;
}
.aNote{
	background-color:white;
}
.aNote:hover{
	background-color:white;
}
.accountListIcon1{
	position:absolute;
	left:10px;
	width:25px;
	text-align:center;
	height:20px;
	//border:1px solid black;
}
.accountListIcon2{
	position:absolute;
	left:35px;
	width:25px;
	text-align:center;
	height:20px;
	//border:1px solid black;
}
.accountListDescr{
	position:absolute;
	left:65px;
	width:300px;
	height:20px;
	overflow:hidden;
	//border:1px solid black;
}
.accountListDescr2{
	position:absolute;
	left:370px;
	height:20px;
	overflow:hidden;
	//border:1px solid black;
}

/* Lista categorie ----------------------------------------------------------------------- */

.categoryList{
	background-color:#E0FFFF;	
	position:relative;
	display:block;
	padding:0px;
	margin:5px;
	height:21px;
	border:1px solid #BDEDFF;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.categoryList:hover{
	background-color: #BDEDFF;
}
.categoryNote{
	position:relative;
	display:block;
	padding:5px;
	margin:5px;
	border:1px solid #BDEDFF;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-left:80px;
}
.categoryListIcon1{
	position:absolute;
	left:10px;
	width:25px;
	text-align:center;
	height:20px;
	//border:1px solid black;
}
.categoryListIcon2{
	position:absolute;
	left:35px;
	width:25px;
	text-align:center;
	height:20px;
	//border:1px solid black;
}
.categoryListDescr{
	position:absolute;
	left:65px;
	width:200px;
	height:20px;
	overflow:hidden;
	//border:1px solid black;
}
.categoryListDescr2{
	position:absolute;
	left:270px;
	height:20px;
	overflow:hidden;
	//border:1px solid black;
}


/* Sidebar ----------------------------------------------------------------------- */

.sbarlink{
	border: 1px solid #BDEDFF;
	padding: 2px 2px 2px 10px;
	margin: 5px 5px 5px 0px;
	display: block;
	background-color:#E0FFFF;
	border-radius:7px;
	-moz-border-radius:7px;
}
.sbarlink:hover{
	background-color: #BDEDFF;
	color:blue;
}
.sbarlink:visited{
	text-decoration:none;
}
.sbarlink:link{
	text-decoration:none;
}

/* Lista transazioni ----------------------------------------------------------------------- */

.positive{
	background-color:#A9F5A9;
}
.positive:hover{
	background-color:#81F781;
}

.negative{
	background-color:#F5A9A9;
}
.negative:hover{
	background-color:#F78181;
}

.note{
	background-color:yellow;
}
.note:hover{
	background-color:orange;
}

.transaction{
	position:relative;
	display:block;
	padding:0px;
	margin:3px 5px 3px 5px;
	height:18px;
	border:1px solid #BDEDFF;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.transactionNote{
	position:relative;
	display:block;
	padding:5px;
	margin:5px;
	border:1px solid #BDEDFF;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-left:80px;
}
.transactionTotal{
	margin-left:100px;
}
.transactionId{
	position:absolute;
	left:10px;
	width:30px;
	text-align:center;
	height:18px;
	top:2px;
	//border: 1px solid black;
}
.transactionDate{
	position:absolute;
	left:41px;
	width:60px;
	text-align:center;
	height:20px;
	overflow:hidden;
	//border: 1px solid black;
}
.transactionDescr{
	position:absolute;
	left:105px;
	width:280px;
	height:20px;
	overflow:hidden;
	//border: 1px solid black;
}
.transactionCat{
	position:absolute;
	left:390px;
	width:140px;
	height:20px;
	overflow:hidden;
	//border: 1px solid blue;
}
.transactionValue{
	float:right;
	margin-right:20px;
	height:20px;
	overflow:hidden;
	//border: 1px solid black;
}

/* Toolbar ----------------------------------------------------------------------- */

.toolbar{
	margin-bottom: 10px;
	text-decoration:none;
}
.toolbarButton{
	border: 1px solid #BDEDFF;
	margin-right:3px;
	width:70px;
	padding:3px;
	position:relative;
	display:inline;
	text-align:center;
	background-color:#E0FFFF;
	-moz-border-radius:5px;
	border-radius:5px;
	text-decoration:none;
	color:blue;
}
.toolbarButton:hover{
	background-color: #BDEDFF;
	text-decoration:none;
	color:blue;
}
.toolbarButton:visited{
	text-decoration:none;
}
.toolbarButton:link{
	text-decoration:none;
}
.toolbarButton:active{
	text-decoration:none;
}
