/* Lista conti ----------------------------------------------------------------------- */

.accountList{
	background-color:#E0FFFF;	
	position:relative;
	display:block;
	padding:0px;
	margin:5px;
	height:21px;
	border:1px solid #BDEDFF;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.accountList:hover{
	background-color: #BDEDFF;
}
.accountNote{
	position:relative;
	display:block;
	padding:5px;
	margin:5px;
	border:1px solid #BDEDFF;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-left:80px;
}
.aNote{
	background-color:white;
}
.aNote:hover{
	background-color:white;
}
.accountListIcon1{
	position:absolute;
	left:10px;
	width:25px;
	text-align:center;
	height:20px;
	//border:1px solid black;
}
.accountListIcon2{
	position:absolute;
	left:35px;
	width:25px;
	text-align:center;
	height:20px;
	//border:1px solid black;
}
.accountListDescr{
	position:absolute;
	left:65px;
	width:300px;
	height:20px;
	overflow:hidden;
	//border:1px solid black;
}
.accountListDescr2{
	position:absolute;
	left:370px;
	height:20px;
	overflow:hidden;
	//border:1px solid black;
}

/* Lista categorie ----------------------------------------------------------------------- */

.categoryList{
	background-color:#E0FFFF;	
	position:relative;
	display:block;
	padding:0px;
	margin:5px;
	height:21px;
	border:1px solid #BDEDFF;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.categoryList:hover{
	background-color: #BDEDFF;
}
.categoryNote{
	position:relative;
	display:block;
	padding:5px;
	margin:5px;
	border:1px solid #BDEDFF;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-left:80px;
}
.categoryListIcon1{
	position:absolute;
	left:10px;
	width:25px;
	text-align:center;
	height:20px;
	//border:1px solid black;
}
.categoryListIcon2{
	position:absolute;
	left:35px;
	width:25px;
	text-align:center;
	height:20px;
	//border:1px solid black;
}
.categoryListDescr{
	position:absolute;
	left:65px;
	width:200px;
	height:20px;
	overflow:hidden;
	//border:1px solid black;
}
.categoryListDescr2{
	position:absolute;
	left:270px;
	height:20px;
	overflow:hidden;
	//border:1px solid black;
}


/* Sidebar ----------------------------------------------------------------------- */

.sbarlink{
	margin-bottom:1px;
	display: block;
}

/* Lista transazioni ----------------------------------------------------------------------- */

.positive{
	background-color:#A9F5A9;
}
.positive:hover{
	background-color:#81F781;
}

.negative{
	background-color:#F5A9A9;
}
.negative:hover{
	background-color:#F78181;
}

.note{
	background-color:azure;
}
.note:hover{
	//background-color:orange;
}

.transaction{
	position:relative;
	display:block;
	padding:0px;
	margin-bottom:1px;
	height:20px;
	border:1px solid #BDEDFF;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
.transactionNote{
	position:relative;
	display:block;
	padding:5px;
	margin:5px;
	border:1px solid #BDEDFF;
	-moz-border-radius: 6px;
	border-radius: 6px;
	margin-left:80px;
}
.transactionId{
	position:absolute;
	left:0px;
	width:25px;
	text-align:center;
	height:18px;
	//border: 1px solid black;
}
.transactionDate{
	position:absolute;
	left:25px;
	width:60px;
	text-align:center;
	height:18px;
	overflow:hidden;
	//border: 1px solid black;
}
.transactionDescr{
	position:absolute;
	left:90px;
	width:250px;
	height:18px;
	overflow:hidden;
	//border: 1px solid black;
}
.transactionCat{
	position:absolute;
	left:345px;
	width:110px;
	height:18px;
	overflow:hidden;
	//border: 1px solid blue;
}

.transactionValue{
	position:absolute;
	left:470px;
	width:90px;
	height:18px;
	overflow:hidden;
	border: 1px solid green;
	text-align: right;
	padding-right:2px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background-color:#81F781;
}

.transactionValue2{
	position:absolute;
	left:570px;
	width:90px;
	height:18px;
	overflow:hidden;
	border: 1px solid darkred;
	text-align: right;
	padding-right:2px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background-color:#F78181;
}

/* Totali transazioni ----------------------------------------------------------------------- */

.transactionTotal{
	margin-left:100px;
	margin-top:4px;
	margin-bottom:4px;
	padding:2px;
}

.yellowTot{
	background-color:yellow;
}
.orangeTot{
	background-color:orange;
}

.transactionTotValue{
	position:absolute;
	left:370px;
	width:90px;
	height:18px;
	overflow:hidden;
	border: 1px solid green;
	text-align: right;
	padding-right:2px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background-color:#81F781;
}

.transactionTotValue2{
	position:absolute;
	left:470px;
	width:90px;
	height:18px;
	overflow:hidden;
	border: 1px solid darkred;
	text-align: right;
	padding-right:2px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background-color:#F78181;
}

/* Toolbars ----------------------------------------------------------------------- */

.toolbar{
	margin-bottom: 10px;
	text-decoration:none;
}

/* no jquery header effect */
.simpleToolbar{
	margin-bottom: 10px;
	text-decoration:none;
}

.tagbar{
	margin-top: 10px;
	text-decoration:none;
}
